# Gradle / Spring Boot
/build
/target
.gradle

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
.vscode/

# Environment
.env
.env.*
!.env.example

# Mac
.DS_Store

# BlueJ
*.ctxt

# Mobile Tools for Java
.mtj.tmp/